:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  margin: 0;
  /* overflow: hidden; */
  /* display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

#appcanvas {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  canvas {
    display: block;
    margin: 0 auto;
    border-radius: 1rem;
    width: 100% !important;
    height: auto !important;
    /* max-width: 800px; */
    /* max-height: 600px; */
  }
}
