/* app.module.css - styles for the three.js app */

#appcanvas {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  canvas {
    display: block;
    margin: 0 auto;
    border-radius: 1rem;
    width: 100% !important;
    height: auto !important;
    /* max-width: 800px; */
    /* max-height: 600px; */
  }
}
