/* app.module.css - styles for the three.js app */

#appcanvas {
  /* margin: 0 auto; */
  /* text-align: center; */

  canvas {
    display: block;
    margin: 0 auto;
    border-radius: 1rem;
    /* width: 100% !important;
    height: auto !important; */
    /* max-width: 800px; */
    /* max-height: 600px; */
  }
}

#VRButton {
  border-color: var(--purple-60) !important;
  color: var(--purple-60) !important;
  background-color: rgba(138, 63, 252, 0.15) !important;
  left: unset !important;
  right: 5% !important;
  bottom: 2rem !important;
}
