/* Global css */

:root {
  --white: rgb(255, 255, 255);
  --gray-10: rgb(244, 244, 244);
  --gray-20: rgb(224, 224, 224);
  --gray-30: rgb(198, 198, 198);
  --gray-40: rgb(168, 168, 168);
  --gray-50: rgb(141, 141, 141);
  --gray-60: rgb(111, 111, 111);
  --gray-70: rgb(82, 82, 82);
  --gray-80: rgb(57, 57, 57);
  --gray-90: rgb(38, 38, 38);
  --gray-100: rgb(22, 22, 22);
  --black: rgb(0, 0, 0);
  --purple-20: #e8daff;
  --purple-30: #d4bbff;
  --purple-40: #be95ff;
  --purple-50: #a56eff;
  --purple-60: #8a3ffc;
  --purple-70: #6929c4;
  --purple-80: #491d8b;
  --purple-90: #31135e;
  --blue-10: rgb(237, 245, 255);
  --blue-20: rgb(208, 226, 255);
  --blue-30: rgb(166, 200, 255);
  --blue-40: rgb(120, 169, 255);
  --blue-50: rgb(69, 137, 255);
  --blue-60: rgb(15, 98, 254);
  --blue-70: rgb(0, 67, 206);
  --blue-80: rgb(0, 45, 156);
  --blue-90: rgb(0, 29, 108);
  --blue-100: rgb(0, 17, 65);
  --oxford-blue: #212A37;
  --cyan-60: #0072c3;
  --teal-10: #d9fbfb;
  --teal-20: #9ef0f0;
  --teal-30: #3ddbd9;
  --teal-40: #08bdba;
  --teal-50: #009d9a;
  --teal-60: #007d79;
  --teal-70: #005d5d;
  --teal-80: #004144;
  --green-60: #198038;
  --yellow-30: #f1c21b;
  --yellow-40: #d2a106;
  --yellow-50: #b28600;
  --yellow-60: #8e6a00;
  --yellow-70: #684e00;
  --orange-40: #ff832b;
  --orange-50: #eb6200;
  --orange-60: #ba4e00;
  --orange-70: #8a3800;
  --magenta-40: #ff7eb6;
  --magenta-50: #ee5396;
  --magenta-60: #d02670;
  --magenta-70: #9f1853;
  --red-40: #ff8389;
  --red-50: #fa4d56;
  --red-60: #da1e28;
  --red-70: #a2191f;
/* custom */
  --selector: #303947;
  --artemis-gradient: linear-gradient(222deg; #386eec; #da447f);
  --border-color: var(--gray-70);
  --gradient-border: 3px solid var(--gradient);
}

* {
  margin: 0;
  padding: 0;
}

body {
  /* margin: 0; */
  position: relative;
  font-family: "Urbanist", san-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0;
  background-color: var(--gray-90);
  color: var(--gray-10);
}

h1 {
  font-size: 2.625rem;
  font-weight: 300;
  line-height: 1.25;
}

h2 {
  font-size: 2rem;
  line-height: 1.25;
}

h3 {
  font-size: 1.75rem;
  line-height: 1.25;
}

h4 {
  font-size: 1.25rem;
  line-height: 1.4;
}

h5 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.375;
}

h6 {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.29;
}

h1, h2, h3 {
  color: var(--teal-80);
}

.disabled {
  color: var(--gray-50);
  text-decoration: none;
}

#attribution {
  position: absolute;
  left: 2rem;
  bottom: 1rem;
}